extends layout

block content
  .container
    h1 Blockchain Demo
    img(src='/images/blockchain.jpg', alt='BlockChain')
    br
    p.pull-right by 
      a(href='https://www.facebook.com/islem.kms') Islem Khemissi 

